APP_NAME="Order Hub"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=order_hub
DB_USERNAME=order_hub
DB_PASSWORD=order_hub_secret

SESSION_DRIVER=redis
SESSION_LIFETIME=120

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@orderhub.local"
MAIL_FROM_NAME="${APP_NAME}"

# N8N Integration
N8N_WEBHOOK_URL=http://n8n:5678/webhook/order-status
N8N_USER=admin
N8N_PASSWORD=orderhub_n8n_secret
